body {
    margin: 0 auto;
    font-family: Georgia,serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
}

.wittgenstein {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main h1 {
    color: #c4be83;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
    margin-top: 1%;
    text-align: justify;
    display:  inline-block;
    text-align:  justify;
    left: 50%;
    top: 25%;
    width:48%;
    height:25%;
    z-index: 1000;
    margin-left: 25%;
}

#h2title {
    color: #c4be83;
    opacity: 50%;
    text-align: center;
    font-size: 30px;

    text-align: justify;
    display:  inline-block;
    text-align:  justify;
    left: 50%;
    top: 25%;
    width: 25%;
    z-index: 1000;
    margin-left: 25%;
    margin-bottom: 20px;
}

main hr {
    color: white;
    opacity: 15%;
}

main h4 {
    color: white;
    font-size: large;
    font-size: 20px;
    font-weight: lighter;
    text-align: justify;
    display:  inline-block;
    text-align:  justify;
    left: 50%;
    top: 25%;
    width:48%;
    height:25%;
    z-index: 1000;
    margin-left: 25%;
    margin-bottom: 20px;
   
}

main {
    display: block;
    unicode-bidi: isolate;
    
}

html {
    display: block;
}

.container div {
    
    display: block;
    unicode-bidi: isolate;
}
.container .row {
    justify-content: center;
}


.container img {
    /* margin-top: 40px;
    margin-left: 40px; */
    float: left;
    margin-right: 2em;
    height: auto;
    max-width: 100%;
    display: block;
    overflow: clip;
    
}


.container small {
    color:rgb(143, 108, 43);
    opacity: 50%;
}

.container p {
    color: azure;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.container a {
    text-decoration: none;
    overflow-wrap: break-word;
    word-wrap: break-word
}

section {
    margin-bottom: 4em
}

main {
    background-color: black;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

footer {
  flex: 0 0 auto;
  text-align: center;
}